html{
	height: 100vh;
}

#row1{
	height:100vh;
	display: flex;
	align-items:center;
	justify-content:center;
}

#row2{
	position: relative;
	bottom: 11em;
	height:0em;
	max-width:0em;
	margin: 0 auto;
}

h1{
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	margin: 0 auto;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
}

#randomBackground{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.button, .button:hover , .button:active, .button:visited, .button:focus{
	background-color:transparent !important;
}

p{
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
	font-size: 1em;
}

i{
	text-shadow: 2px 2px black;	
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

@media (max-width: 600px){
	h1{
		font-size: 1.5em;
	}
}